@page
@model RPDemoApp.Pages.Orders.AllOrdersModel
@{
    ViewData["Title"] = "All Orders";
}

<h1>There are a total of @Model.Orders.Count orders</h1>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <td><strong>Order name</strong></td>
            <td><strong>Order date</strong></td>
            <td><strong>Food item</strong></td>
            <td><strong>Unit price</strong></td>
            <td><strong>Quantity</strong></td>
            <td><strong>Total Cost</strong></td>
            <td><strong>Action</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
        <tr>
            <td>@order.OrderName</td>
            <td>@order.OrderDate</td>
            <td>@order.FoodTitle</td>
            <td>@order.FoodPrice</td>
            <td>@order.Quantity</td>
            <td>@order.Total</td>
            <td><a asp-page="./Display" asp-route-id="@order.Id">Go to order</a></td>
        </tr>
        }
    </tbody>
</table>
